{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Real Safe API",
        "description": "Real Safe API from Zentomic, api.realsafe.io source code (https://github.com/Zentomic/zentomic-notifier-node)\n"
    },
    "host": "api.realsafe.io",
    "basePath": "",
    "schemes": ["https", "https"],
    "consumes": [
        "application/json",
        "text/xml"
    ],
    "produces": [
        "application/json",
        "text/html"
    ],
    "paths": {
        "/Agent/Create": {
            "post": {
                "tags": [
                    "Agent"
                  ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "type": "string",
                        "description": "email of local user",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "type": "string",
                        "description": "password of local user",
                        "required": true
                    },
                    {
                        "name": "fullname",
                        "in": "query",
                        "type": "string",
                        "description": "fullname of local user",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "signup/create a local account"
                    }
                }
            }
        },
        "/Auth/Local": {
            "get": {
              "tags": [
                  "Auth"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "type": "string",
                        "description": "email of local user",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "type": "string",
                        "description": "password of local user",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "login with local account"
                    }
                }
            }
        },
        "/Auth/Google": {
            "get": {
              "tags": [
                  "Auth"
                ],
                "parameters": [
                    {
                        "name": "code",
                        "in": "query",
                        "type": "string",
                        "description": "code from google plus auth service",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "login with local account"
                    }
                }
            }
        },
        "/Agent/Read": {
            "get": {
              "tags": [
                  "Agent"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "type": "string",
                        "description": "email of local agent",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "agent infor"
                    }
                }
            }
        },
        "/Agent/Update": {
            "put": {
              "tags": [
                  "Agent"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "type": "string",
                        "description": "email of local agent",
                        "required": true
                    },
                    {
                        "name": "password",
                        "in": "query",
                        "type": "string",
                        "description": "password of local agent",
                        "required": true
                    },
                    {
                        "name": "fullname",
                        "in": "query",
                        "type": "string",
                        "description": "fullname of local agent",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "err as well as agent infor"
                    }
                }
            }
        },
        "/Agent/Delete": {
            "delete": {
              "tags": [
                  "Agent"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "type": "string",
                        "description": "email of local agent to be deleted",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "agent email and error"
                    }
                }
            }
        },
        "/Notifier/Create": {
            "post": {
              "tags": [
                  "Notifier"
                ],
                "parameters": [
                    {
                        "name": "fromuser",
                        "in": "query",
                        "type": "string",
                        "description": "email of local agent",
                        "required": true
                    },
                    {
                        "name": "fullname",
                        "in": "query",
                        "type": "string",
                        "description": "fullname of notifier",
                        "required": true
                    },
                    {
                        "name": "fone",
                        "in": "query",
                        "type": "string",
                        "description": "fone of notifier",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "type": "string",
                        "description": "email of local agent",
                        "required": true
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "type": "string",
                        "description": "type of notifier",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "err as well as agent infor"
                    }
                }
            }
        },
        "/Notifier/Update": {
            "put": {
              "tags": [
                  "Notifier"
                ],
                "parameters": [
                    {
                        "name": "oldemail",
                        "in": "query",
                        "type": "string",
                        "description": "old email of local notifier",
                        "required": true
                    },
                    {
                        "name": "fullname",
                        "in": "query",
                        "type": "string",
                        "description": "new fullname of notifier",
                        "required": true
                    },
                    {
                        "name": "fone",
                        "in": "query",
                        "type": "string",
                        "description": "new fone of notifier",
                        "required": true
                    },
                    {
                        "name": "email",
                        "in": "query",
                        "type": "string",
                        "description": "new email of local agent",
                        "required": true
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "type": "string",
                        "description": "new type of notifier",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "err as well as agent infor"
                    }
                }
            }
        },
        "/Notifier/Read": {
            "get": {
              "tags": [
                  "Notifier"
                ],
                "parameters": [
                    {
                        "name": "fromuser",
                        "in": "query",
                        "type": "string",
                        "description": "email of local agent",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get list of notifier based on agent email"
                    }
                }
            }
        },
        "/Notifier/Delete": {
            "delete": {
              "tags": [
                  "Notifier"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "type": "string",
                        "description": "email of notifier",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "notifier email and error"
                    }
                }
            }
        },
        "/SMS": {
            "get": {
              "tags": [
                  "Function"
                ],
                "parameters": [
                    {
                        "name": "tofone",
                        "in": "query",
                        "type": "string",
                        "description": "email of notifier",
                        "required": true
                    },
                    {
                        "name": "message",
                        "in": "query",
                        "type": "string",
                        "description": "message for sending",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "send sms test to tofone"
                    }
                }
            }
        },
        "/Transaction/Checkin": {
            "get": {
              "tags": [
                  "Transaction"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "type": "string",
                        "description": "email of local agent for creating checking",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "email and status with checkin string"
                    }
                }
            }
        },
        "/Transaction/Checkout": {
            "get": {
              "tags": [
                  "Transaction"
                ],
                "parameters": [
                    {
                        "name": "email",
                        "in": "query",
                        "type": "string",
                        "description": "email of local agent for creating checkout",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "email and status with checkin string"
                    }
                }
            }
        }
    },
    "definitions": {
        "Agent": {
            "type": "object",
            "properties": {
                "local": {
                    "type": "string"
                },
                "facebook": {
                    "type": "string"
                },
                "google": {
                    "type": "string"
                }
            }
        },
        "AgentSetting": {
            "type": "object",
            "properties": {
                "AgentEmail": {
                    "type": "string"
                },
                "Setting": {
                    "type": "string"
                }
            }
        },
        "message": {
            "type": "object",
            "properties": {
                "FromUser": {
                    "type": "string"
                },
                "ToUser": {
                    "type": "string"
                },
                "Message": {
                    "type": "string"
                },
                "AtDateTime": {
                    "type": "string"
                }
            }
        },
        "Notifier": {
            "type": "object",
            "properties": {
                "FromAgent": {
                    "type": "string"
                },
                "Type": {
                    "type": "string"
                },
                "Info": {
                    "type": "string"
                },
                "local": {
                    "type": "string"
                },
                "facebook": {
                    "type": "string"
                },
                "google": {
                    "type": "string"
                }
            }
        }
    }
}
